<html>

<head>
    <script src="../../jquery.min.js"></script>
    <script src="../../jquery-1.12.4.js"></script>
    <script src="../../jquery-ui.js"></script>
</head>

<body>

<div class="main">
    <h4>Update Json Client</h4>
    <form action="#" method="post" th:action="@{/client/{cln}/json/update(cln=${client})}">
        <p>Id: <input name="id" type="text"/></p>
        <p><input hidden="hidden" name="localization" th:value="${localization}" type="text"/></p>
        <p><input hidden="hidden" name="environment" th:value="${environment}" type="text"/></p>
        <p>Default: <input name="default" type="boolean"/></p>
        <p>Doc Json: <input name="doc" type="text"/></p>
        <input type="submit" value="Update"/>
    </form>
</div>

</body>
<script src="../../metascript.js"></script>
<script th:inline="javascript" type="text/javascript">

</script>

</html>