<html>

<head>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery-1.12.4.js"></script>
    <script src="../../js/jquery-ui.js"></script>
    <script src="../../js/commonjs.js"></script>
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="header"></div>

<div class="main" style="text-align: center;">
    <textarea autocapitalize="off" autocorrect="off" spellcheck="false"
              style="width:100%; height:70%; font-weight: 100; resize:none;"></textarea>
    <button class="update" style="font-size: 13; width: 100px; margin-top: 10px;">Update</button>
</div>

<div id="dialog-form" title="Create">
    <p class="validateTips">Choose the category you want to create.</p>
    <form>
        <fieldset>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input style="position:absolute; top:-1000px" tabindex="-1" type="submit">

            <input checked="checked" name="create" style="width:auto" type="radio" value="environment"/>Environment
            <input name="create" style="width:auto" type="radio" value="localization"/>Localization
            <input class="ui-widget-content ui-corner-all" name="value" type="text">
        </fieldset>
    </form>
</div>

</body>

<script th:inline="javascript" type="text/javascript">

	function createDoc(doc, updateOption) {
		var success = false;
		$.ajax({
			method: "POST",
			url: baseurl + "/create",
			async: false,
			data: JSON.stringify(doc),
			contentType: 'application/json; charset=UTF-8'
		}).success(function (data) {
			if (data) {
				success = true;
				if (updateOption == true) {
					notifySuccess("Updated, Woo hoo!");
				} else {
					notifySuccess("Created, Woo hoo!");
					location.reload();
				}
			}
		}).error(function (e) {
			notifyResponseError(e);
		});
		return success;
	}

	function addDocument() {
		var inputs = dialog.find("fieldset input[type=text]");
		var doc = new Object();
		var choice = $("input[type=radio][name=create]:checked").val();
		if (choice == "localization") {
			doc["environment"] = $(".toolbar .environment select").val();
		} else {
			doc["localization"] = $(".toolbar .localization select").val();
		}
		var input = $("input[name=value]");
		var value = input.val();
		if (!value || value == "") {
			input.addClass("ui-state-error");
			return false;
		}
		doc[choice] = value;
		doc["doc"] = new Object();
		createDoc(doc, false);
	}

	function update() {
		var json = $(".main textarea").val();
		var dataObject = new Object();
		var jsonDoc;
		try {
			jsonDoc = JSON.parse(json);
		}
		catch (err) {
			notifyError("Wrong json format. Please correct it.")
			return false;
		}

		dataObject["environment"] = defaultEnv;
		dataObject["localization"] = defaultLoc;
		dataObject["doc"] = jsonDoc;

		var success = false;
		if (!currentJsonObj["id"]) {
			// create
			success = createDoc(dataObject, true);
		} else {
			// update
			dataObject["id"] = currentJsonObj["id"];
			success = ajaxCall(baseurl, "replace", dataObject);
		}

		populateSimpledata(jsonDoc);
		if (success = true) {
			currentJsonObj = jsonDoc;
			simpledata[defaultEnv][defaultLoc] = jsonDoc;
		}
	}

	function reload() {
		defaultEnv = $(".toolbar .environment select").val();
		defaultLoc = $(".toolbar .localization select").val();
		currentJsonObj = simpledata[defaultEnv][defaultLoc];
		if (!currentJsonObj) {
			currentJsonObj = new Object();
		}

		populateSimpledata(currentJsonObj);
	}

	function populateSimpledata(json) {
		var jsonClone = JSON.parse(JSON.stringify(json));
		delete jsonClone.id;
		delete jsonClone.client;
		delete jsonClone.environment;
		delete jsonClone.localization;
		$(".main textarea").val(JSON.stringify(jsonClone, undefined, 4));
	}

	function setupDialogBox(dialogFields) {
		var dialog = $("#dialog-form").dialog({
			autoOpen: false,
			height: 400,
			width: 350,
			modal: true,
			buttons: {
				"Create": addDocument,
				Cancel: function () {
					dialog.dialog("close");
				}
			},
			close: function () {
				form[0].reset();
				dialogFields.removeClass("ui-state-error");
			}
		});
		var form = dialog.find("form").on("submit", function (event) {
			// for, if somebody presses key enter
			event.preventDefault();
			addDocument();
		});
		return dialog;
	}

	var client = /*[[${client}]]*/ "";
	var simpledata = /*[[${simpledata}]]*/ "";
	var environments = /*[[${environments}]]*/ "";
	var localizations = /*[[${localizations}]]*/ "";
	var baseurl = "/v1/client/" + client + "/json";

	var defaultEnv = environments[0];
	var defaultLoc = localizations[0];
	var currentJsonObj = simpledata[defaultEnv][defaultLoc];

	// load navigator
	loadToolbar(client, false, localizations, environments);

	// on localization/environment value change
	$(".toolbar .localization select, .toolbar .environment select").selectmenu({
		change: function () {
			reload();
		}
	});

	// assign update
	$(".update").click(function () {
		update();
	});

	// populate dialog box
	var dialogFields = $("#dialog-form fieldset input[type=text]");
	var dialog = setupDialogBox(dialogFields);

	var button = $(".toolbar .create");
	button.text("Create Locale or Env")
	button.click(function () {
		dialog.dialog("open");
	});

	// Populate appdata
	populateSimpledata(currentJsonObj);


</script>

</html>